@model Zedx.Models.DTO.BillRequest

@{
    ViewData["Title"] = "Create";
}
    <div id="divPrint">
        <div>
            <div class="row border border-dark">
                <div class="col-md-3"></div>
                <div class="col-md-6"><h3>Haji Aluminum,Glass and Hardware Store</h3></div>
                <div class="col-md-3"></div>
            </div>
            <div class="row border border-dark mt-1 mb-1">
                <div class="col-md-1"><h5></h5>Bill Id</h5></div><div class="col-md-1"> <h5> @Model.BillId </h5></div>
                <div class="col-md-1"><h5>Customer</h5></div><div class="col-md-2"><h5> @Model.CustomerName </h5></div>
                <div class="col-md-1"><h5>Date</h5></div><div class="col-md-2"><h5> @Model.BillDate </h5></div>
            </div>
        </div>

        <partial name="_BillDetails" model="Model">
    </div>
@section Styles{ 
    <style>
    tfoot td {
        border: none !important;
    }
    tfoot{
        border-top:1px solid black;
    }
    @@media print {
    body{
        width: 21cm;
        height: 29.7cm;
        margin: 5mm 5mm 5mm 5mm;
   }
}
    </style>
}
@section Scripts{
    <script>
        jQuery(document).ready(function () {
            RemoveExtraInfo();
            HeightWidthExist();
            Print();
        });

        function HeightWidthExist() {
            var IsRemove = true;
            $(".sheetWidth").each(function () {
                if ($.trim($(this).text()) > 0) { IsRemove = false; }
            });
            $(".sheetHeight").each(function () {
                if ($.trim($(this).text()) > 0) { IsRemove = false; }
            });
            if (IsRemove) {
                $(".sheetHeight,.sheetWidth,.thHeight,.thwidth").remove();
            }
        }
        function RemoveExtraInfo() {
            $(".tdAction").remove();
            $("table").removeClass("table-striped");
            $("footer").remove();
        }
        function Print() {
            window.print();
        }
    </script>
}