@model Zedx.Models.ViewModel.BillandBillDetail


@{
    ViewData["Title"] = "Create";

}
<div class="row">

    <div class="col-md-12">
        <form asp-action="Creates" id="BillDetailForm" method="post" data-ajax="true" data-ajax-success="onSuccess" data-ajax-method="post" data-ajax-update="#divAddProducts" data-ajax-confirm="Are you sure! ">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(x => x.Bill.Customers.CustomerId)
            @Html.HiddenFor(x => x.BillDetail.AllProductId)
            <div class="row">
                <div class="col-md-1">
                    <div class="form-group">
                        <label class="control-label">Bill Id</label>
                        <label class="control-label" id="lblBillId">New</label>

                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label class="control-label">Customer</label>
                        <select class="form-control" asp-items="ViewBag.ProductTypeId"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Type</label>
                        <select class="form-control" id="product_type" asp-items="ViewBag.ProductTypeId"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="BillDetail.AllProduct.Name" class="control-label"></label>
                        <input asp-for="BillDetail.AllProduct.Name" autocomplete="off" class="form-control" />
                        <span asp-validation-for="BillDetail.AllProduct.Name" class="text-danger"></span>
                        <div id="divProductsSerachResults"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="BillDetail.AluminumColorId" class="control-label"></label>
                        <select asp-for="BillDetail.AluminumColorId" class="form-control" asp-items="ViewBag.AluminumColorId"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="BillDetail.AluminumGageId" class="control-label"></label>
                        <select asp-for="BillDetail.AluminumGageId" class="form-control" asp-items="ViewBag.AluminumGageId"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="BillDetail.Rate" class="control-label"></label>
                        <input asp-for="BillDetail.Rate" value="2" class="form-control" />
                        <span asp-validation-for="BillDetail.Rate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="BillDetail.Discount" class="control-label"></label>
                        <input asp-for="BillDetail.Discount" value="2" class="form-control" />
                        <span asp-validation-for="BillDetail.Discount" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="BillDetail.Feet" class="control-label"></label>
                        <input asp-for="BillDetail.Feet" value="2" class="form-control" />
                        <span asp-validation-for="BillDetail.Feet" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="BillDetail.Quantity" class="control-label"></label>
                        <input asp-for="BillDetail.Quantity" value="2" class="form-control" />
                        <span asp-validation-for="BillDetail.Quantity" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="BillDetail.TotalFeet" class="control-label"></label>
                        <input asp-for="BillDetail.TotalFeet" value="2" class="form-control" />
                        <span asp-validation-for="BillDetail.TotalFeet" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">

                </div>
            </div>
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="BillDetail.NetAmount" class="control-label"></label>
                        <input asp-for="BillDetail.NetAmount" value="2" class="form-control" />
                        <span asp-validation-for="BillDetail.NetAmount" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="BillDetail.DiscountedAmount" class="control-label"></label>
                        <input asp-for="BillDetail.DiscountedAmount" value="2" class="form-control" />
                        <span asp-validation-for="BillDetail.DiscountedAmount" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="BillDetail.AmountToBePaid" class="control-label"></label>
                        <input asp-for="BillDetail.AmountToBePaid" value="2" class="form-control" />
                        <span asp-validation-for="BillDetail.AmountToBePaid" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="BillDetail.SheetHeight" class="control-label"></label>
                        <input asp-for="BillDetail.SheetHeight" value="2" class="form-control" />
                        <span asp-validation-for="BillDetail.SheetHeight" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="BillDetail.SheetWidth" class="control-label"></label>
                        <input asp-for="BillDetail.SheetWidth" value="2" class="form-control" />
                        <span asp-validation-for="BillDetail.SheetWidth" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="button" value="Create" onclick="BillDetailSubmit(this)" class="btn btn-primary" />

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12" id="divAddProducts">
                    @Html.Partial("_BillDetails", Model)
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery.unobtrusive-ajax.js"></script>

    <script>
        function onSuccess() {
            $("#lblBillId").text($("#BillDetail_BillId").val());
        }

        $("#BillDetail_AllProduct_Name").on('keyup', function (e) {
            debugger;
            var code = e.key;
            if (code === "Enter")
                LoadProductsddl();
            else e.preventDefault();

        });
        //$("#BillDetail_AllProduct_Name").focusout(function () {
        //    $("#divProductsSerachResults").hide();
        //});
        function LoadProductsddl() {

            var productName = $("#BillDetail_AllProduct_Name").val();
            var color = $("#BillDetail_AluminumColorId").val() || 0;
            var gage = $("#BillDetail_AluminumGageId").val() || 0;
            var type = $("#product_type").val() || 0;
            $.ajax({
                url: '/BillDetail/ProductSerach',
                data: {
                    productName: productName,
                    productType: type,
                    aluminumColor: color,
                    aluminumGage: gage

                },
                success: function (data) { $("#divProductsSerachResults").html(data); $("#divProductsSerachResults").show(); }
            })
        }
        function OnProductSelect(elem) {
            var pId = $(elem).find(".productId").val();
            var pRate = $.trim($(elem).find(".pRate").text());
            $("#BillDetail_AllProductId").val(pId);
            $("#BillDetail_Rate").val(pRate);
            $("#divProductsSerachResults").hide();
        }
        function BillDetailSubmit() {
            $("#BillDetailForm").submit();
        }
        $(document).ready(function () {

        });
    </script>
}
@section Styles{
    <style>
        #divProductsSerachResults {
            position: absolute;
            border: 1px solid grey;
            background-color: white;
            z-index: 1;
            border-radius: 7px;
        }
    </style>
}
