@model Zedx.Models.BillDetail

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BillDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BillDetailId" />
            <div class="form-group">
                <label asp-for="AllProductId" class="control-label"></label>
                <input asp-for="AllProductId" class="form-control" />
                <span asp-validation-for="AllProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AluminumColorId" class="control-label"></label>
                <select asp-for="AluminumColorId" class="form-control" asp-items="ViewBag.AluminumColorId"></select>
                <span asp-validation-for="AluminumColorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AluminumGageId" class="control-label"></label>
                <select asp-for="AluminumGageId" class="form-control" asp-items="ViewBag.AluminumGageId"></select>
                <span asp-validation-for="AluminumGageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feet" class="control-label"></label>
                <input asp-for="Feet" class="form-control" />
                <span asp-validation-for="Feet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalFeet" class="control-label"></label>
                <input asp-for="TotalFeet" class="form-control" />
                <span asp-validation-for="TotalFeet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetAmount" class="control-label"></label>
                <input asp-for="NetAmount" class="form-control" />
                <span asp-validation-for="NetAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountedAmount" class="control-label"></label>
                <input asp-for="DiscountedAmount" class="form-control" />
                <span asp-validation-for="DiscountedAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountToBePaid" class="control-label"></label>
                <input asp-for="AmountToBePaid" class="form-control" />
                <span asp-validation-for="AmountToBePaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillId" class="control-label"></label>
                <select asp-for="BillId" class="form-control" asp-items="ViewBag.BillId"></select>
                <span asp-validation-for="BillId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SheetHeight" class="control-label"></label>
                <input asp-for="SheetHeight" class="form-control" />
                <span asp-validation-for="SheetHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SheetWidth" class="control-label"></label>
                <input asp-for="SheetWidth" class="form-control" />
                <span asp-validation-for="SheetWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedById" class="control-label"></label>
                <input asp-for="CreatedById" class="form-control" />
                <span asp-validation-for="CreatedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedById" class="control-label"></label>
                <input asp-for="ModifiedById" class="form-control" />
                <span asp-validation-for="ModifiedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Deleted" /> @Html.DisplayNameFor(model => model.Deleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
